/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('./assets/fonts/roboto-v27-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/roboto-v27-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
 /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('./assets/fonts/roboto-v27-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/roboto-v27-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* forum-regular - latin */
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/forum-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/forum/forum-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
  
}

h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.section h2 {
    color: #9D8665;
}
.dark-section h2 {
    color: #ffff;
}

nav a {
    transition: 0.5s linear;
}
nav a:hover {
    color: var(--font-gold);
    filter: opacity(1);
    
}
nav a:active {
    color: var(--font-gold);
}

a {
    text-decoration: none;
    
}

li {
    list-style: none;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

body {
    margin: 0;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.dark-section {
    background-color: var(--bg-dark);
    color: white;
}

.container {
    margin: 0 auto;
    width: 1440px;
}

.underline-title {
    position: relative;
  }
.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}

/* Header */

.header {
    width: 100%;
    left: 240px;
    top: 0px;
    background: var(--bg-dark);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 150px;
    margin: 0 auto;
}

.header-logo {
    position: relative;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;


}

.logo-link {
    display: inline-block;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    color: #FFFFFF;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 74px;
    padding-top: 10px;
    background: url(./assets/svg/louvre-logo.svg) no-repeat;
    background-position: left 7px;
}


.header-nav {
    display: flex;
    flex-wrap: nowrap;
    gap: 55px;
}

.header-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: opacity(0.5);
}

.header-item {


}


/* welcome */

.welcome {
    padding-top: 0;
}
.welcome-container {
    height: 810px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    /* background: url(./assets/img/welcome-background.jpg) no-repeat top right; */
    /* background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(./assets/img/welcome-background.jpg) no-repeat right top; */
    /* background-position: calc(100% - 20px) calc(100% - 10px); */
    /* background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%); */
    /* background-image: linear-gradient(to right, black 0%, transparent 60%), url(./assets/img/welcome-background.jpg) no-repeat top right; */
} 

.welcome-left {
    /* width: 100%;
    height: 100%; */
    /* z-index: 9; */
}


.welcome-right {
    position: relative;
    right: 0;
    
}

.welcome-slider {  
    display: block;
    width: 1000px;
    height: 810px;
    position: relative;
    right: 0;
    
    /* background: url(./assets/img/welcome-background.jpg) no-repeat right; */
}

.welcome-slider::after {
    display: block;
    position: absolute;
    top: 0;
    background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
    height: 810px;
    width: 100%;
    content: '';

}

.slider-nav {
    position: relative;
    bottom: 65px;
}



/* .welcome-slider{
    display: block;
    position: relative;
    content: '';
    height: 810px;
    width: 1000px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(./assets/img/welcome-background.jpg) no-repeat;
} */
/* img {
    height: 200px;
    width: auto;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* ваш градиент */
    /* -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); ваш градиент */
 


.welcome-title {
    position: absolute;
    width: 598px;
    margin-top: 150px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;

}

.welcome-subtitle {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 356px;
    z-index: 2;
}

.welcome-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 75px;
    background-color: #710707;
    border-radius: 10px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: 0.6s linear;
    margin-top: 464px;

}

.welcome-link:hover {
    background-color: var(--font-gold);
}

/* Visiting */

.visiting-cards {
    display: grid;
    grid-template-columns: repeat(3, 6fr );
    gap: 60px 75px;
}

.visiting-card{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;    
    color: #000000;
    text-decoration: none;
    
}
.card-pic {
    width: 440px;
    height: 285px;
    margin-bottom: 25px;
}

.visiting-title {
    margin-bottom: 103px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.visiting-card-underlined {
    position: relative;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

.visiting-card-underlined::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 300px;
    height: 2px;
    background-color: #710707;
    transition: 0.7s linear;
}

.visiting-card:hover .visiting-card-underlined::after {
    width: 100%;
}

.visiting-card-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    padding-top: 22px;
    padding-bottom: 10px;
}

/* Explore */

.explore-container {
    height: 715px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.explore-left{
    width: 660px;
}

.explore-desc {
    padding-top: 75px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.explore-desc p{
    padding-bottom: 25px;
}

.explore-title {
    margin: 0;
    font-family:'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.text-gold {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #CAAA7D;

}

.explore-pic {
    padding-top: 15px;
    padding-left: 60px;
}

/* video */

.video-section {
    padding-top: 90px;
}

.video-screen {
    position: relative;
    margin-bottom: -3px;
}
.video-screen_btn {
    position: absolute;
    left: calc(50% - 110px);
    top: calc(50% - 110px);
    background: none;
    border: none;
    transition: 0.5s linear;
}
    .video-screen_btn:hover {
    filter: invert(63%) sepia(0%) saturate(459%) hue-rotate(224deg) brightness(97%) contrast(86%);
    }
    .video-control {
    height: 85px;
    background: black;
    display: flex;
    align-items: center;
    }
    .video-control>button {
    background: none;
    border: none;
    }
    .video-control>button :hover {
    filter: invert(63%) sepia(0%) saturate(459%) hue-rotate(224deg) brightness(97%) contrast(86%);
    }
    
.video-play {
    padding-left: 25px;
    padding-right: 50px;
    
}

.progress {
    background: #B3B3B3;
    border-radius: 0;
    height: 8px;
    width: 929px;
    outline: none;
    transition: var(--dark-red) 450ms ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
width: 15px;
height: 15px;
border-radius: 50%;
-webkit-appearance: none;
cursor: ew-resize;
background: #FFFFFF;
}
.video-volume-btn {
padding: 0 50px 0 50px;
}
.video-volume {
width: 155px;
}
.fullscreen {
padding: 0 25px 0 50px;
}
.video-text-block {
display: flex;
justify-content: space-between;
align-items: center;
margin: 75px 0;
}

.video-text-block>p {
    max-width: 720px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #000000;
}

.video-gallery {
    padding: 40px 0; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video-gallery-left {

    width: 452px;
    height: 254px;

}
.video-gallery-middle {
    width: 452px;
    height: 254px;
}

.video-gallery-right {
    width: 452px;
    height: 254px;
}


.video-slider-placeholder {
    color: black;
    display: flex;
    justify-content: center;
}


/* Gallery */

.gallery-container {
    height: 2200px;
}
.gallery-title {
    padding: 75px 0;
    font-family: 'Forum';
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;

}
.picture-container{
    height: 1960px;
    overflow-y: hidden; 
}
.picture-container::after {
    display: block;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    margin-top: -1490px;
    height: 360px;
    width: 100%;
    content: '';
  }


.picture-inner-container {
    height: 3100px;
    display: flex;
    flex-flow: column wrap;
    row-gap: 36px;
    column-gap: 24px;
}

.picture-inner-container div:nth-child(3) {
    padding-top: 50px;
    margin-bottom: -50px;
}

.picture-inner-container div:nth-child(6) {
    padding-top: 50px;
}


.picture-inner-container div:first-child {
    padding-top: 50px;
}



/*  Меняем порядок элементов, делая как бы строчную расстановку */
.picture-inner-container div:nth-child(3n+1) { order: 1; }
.picture-inner-container div:nth-child(3n+2) { order: 2; }
.picture-inner-container div:nth-child(3n)   { order: 3; }

/* Tickets */

.tickets {
    padding-bottom: 0;

}

.tickets-title{
    margin-bottom: 103px;
}

.total {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}
.total span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 75px;
}
.ticket-form {
    width: 660px;
    height: 443px;
}
.elements {
    display: flex;
    justify-content: space-between;

}

.elements label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-top: 25px;

}

.left {
    display: flex;
    flex-direction: column;
    
}

.left h4 {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    text-align: left;
    padding-bottom: 25px;
}

.left input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#input {
    border: 2px solid #000000;
    box-sizing: border-box;

}
.right {
    text-align: left;
}

.right h4 {
    text-align: right;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding-bottom: 25px;

} 

#basic { 
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    border: none;
}
#senior {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    border: none;
}

.total  {
    padding-top: 40px;
    text-align: right;
}

.number-input {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 50px;
    left: 0px;
    top: 41px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;

}

.actions {
    margin-top: 52px;
    display: flex;
    justify-content: right;

}

.button {
    border: none;
    background: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.actions button {
    width: 175px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #000000;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: .2s;
}

.actions button:hover{
    width: 175px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #9D8665;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #000000;
}

.ticket-type_container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.ticket-type_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #ffff;
    border-radius: 50%;
    border: black solid 2px;
}

/* On mouse-over, add a grey background color */
.ticket-type_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.ticket-type_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.ticket-type_container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
}

.parallax {
    width: 100%;
    height: 400px;
    background-image: url(/museum/assets/img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* Modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  

  /* Modal Content */
  .modal-content {
      position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 1440px;
    height: 845px;
    animation-name: animate;
    animation-duration: 0.4s
  }
  
  @keyframes animate {
    from {left:-800px; opacity:0}
    to {left:0; opacity:1}
  }

  .modal-container {
    /*  margin: 90px 236px 92px 234px; */
    margin: 90px auto 0;
      width: 970px;
      height: 663px;
  }

  .form {
      display: flex;
      justify-content: space-between;
  }
  .form-right{
      width: 530px;
      height: 663px;
      background: url(./assets/img/test-pic.jpg) no-repeat right;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .form-left {
      width: 400px;
      height: 665px;
  }

  .form-left-top {
      margin-bottom: 70px;
  }

.left-bottom {
    border: 1px solid #030303;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5 {
    margin-bottom: 15px;
    padding-top: 41px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #9D8665;
    background: url(./assets/svg/booking-louvre-logo.svg) no-repeat left top;
}

.booking-underlined {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #710707;

}

.booking-underlined::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 3px;
    background: #740C11;
    opacity: 0.9;
   
}

/* Booking form */
  
  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  /* input, select, textarea { */
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  
  button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }

/* Modal */

/* contacts */

.contacts-block {
    padding-top: 103px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   

.contacts-block-text p {
    font-family: Roboto;
    padding-bottom: 30px;
    font-weight: 500;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.contacts-block-text li {
    padding: 10px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}

/*footer */

.footer-top {
    /* height: 265px; */
    border-bottom-color: #666666;
    border-bottom-width: 3px;
    border-bottom: 3px solid #666666 ;
    padding-top: 75px;
    padding-bottom: 50px;
}
    
.footer-container {
  display: flex;
  flex-direction: row;
  height: 150px;
}
.footer-logo {
  width: 195px;
  background-position: left top;
  margin-right: 145px;
}
.footer_nav-items {
    width: 515px;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: opacity(0.5);
  


}
.footer_nav-item-link {
  text-decoration: none;
 
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 

}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 24px;
  padding-bottom: 20px;
  
}

.social-links a {
    display: inline-block;
    text-align: center;
    line-height: 52px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #666666;

}

.social-links img {
  transition: 1s linear;
}

.footer-bottom {
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: opacity(0.5);
}